<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Professores</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
<script th:src="@{/js/script.js}"></script>
</head>
<body>
    <h1>Lista de Professores</h1>
    <a th:href="@{/professores/inserir}" class="add-button">Adicionar Novo Professor</a>
    
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="professor : ${professores}">
                <td th:text="${professor.id}"></td>
                <td th:text="${professor.nome}"></td>
                <td th:text="${professor.email}"></td>
                <td class="actions">
                    <a th:href="@{/professores/editar/{id}(id=${professor.id})}">Editar</a>
                    <a th:href="@{/professores/excluir/{id}(id=${professor.id})}">Excluir</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>