<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Cursos</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
<script th:src="@{/js/script.js}"></script>
</head>
<body>
    <h1>Lista de Cursos</h1>
    <a th:href="@{/cursos/inserir}" class="add-button">Adicionar Novo Curso</a>
    
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Data Início</th>
                <th>Data Fim</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="curso : ${cursos}">
                <td th:text="${curso.ID}"></td>
                <td th:text="${curso.nome}"></td>
                <td th:text="${curso.descricao != null} ? ${#strings.abbreviate(curso.descricao, 30)} : 'Sem descrição'"></td>
                <td th:text="${curso.dataInicio != null} ? ${#dates.format(curso.dataInicio, 'dd/MM/yyyy')} : 'Não definida'"></td>
                <td th:text="${curso.dataFim != null} ? ${#dates.format(curso.dataFim, 'dd/MM/yyyy')} : 'Não definida'"></td>
                <td class="actions">
                    <a th:href="@{/cursos/editar/{id}(id=${curso.ID})}">Editar</a>
                    <a th:href="@{/cursos/excluir/{id}(id=${curso.ID})}">Excluir</a>
                    <a th:href="@{/cursos/detalhes/{id}(id=${curso.ID})}">Detalhes</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>